$secondary-color: #1c9bef;
$primary-color: #e7e9ea;

@media screen and (min-width: 415px) {
  body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: $primary-color;
  }
  a {
    text-decoration: none;
  }
  li {
    list-style: none;
  }

  button {
    border-radius: 624.938rem;
    cursor: pointer;
    background-color: $secondary-color;
    color: $primary-color;
  }

  .container {
    display: flex;
  }

  .x-logo {
    img {
      width: 1.688rem;
      height: 1.64rem;
    }
  }
  .mobile-nav-items {
    display: none;
  }

  .mobile-nav-name {
    display: none;
  }

  .active-button {
    background-color: #1d9bf0;
    color: white;
  }

  .inactive-button {
    background-color: #0f4e78;
    color: #808080;
  }

  .left-side {
    border-right: 0.1px solid #ffffff51;
    padding-top: 0.75rem;
    padding-left: 1.125rem;

    .navigation-section {
      height: 45.375rem;
      margin-top: 0.3rem;
      margin-left: 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      button {
        padding: 0 2rem;
      }
      .side-option {
        display: flex;
        margin-left: 0.2rem;
        margin-right: 0.1rem;
        margin-top: 0;
        align-items: center;

        p {
          font-size: 1.3rem;
        }

        img {
          width: 1.29rem;
          height: 1.369rem;
          align-self: center;
          margin-right: 2rem;
        }
      }
      .post-button {
        margin: 0.35rem 1rem 0.2rem 0.2rem;
        background-color: #1d9bf0;
        width: 10.443rem;
        height: 2.7rem;
        display: flex;
        justify-content: center;
        border-radius: 3rem;

        button {
          border: none;
          color: #e7e9ea;
          background-color: #1d9bf0;
          font-size: 1rem;
        }
      }
    }
  }

  .for-you {
    width: 15.444rem;
    font-weight: 500;
    padding: 0 1rem 0 1rem;
  }

  .following {
    width: 16.381rem;
    padding: 0 1rem 0 1rem;
  }

  .post-input-buttons {
    display: flex;
    justify-content: space-between;
  }

  .tweet-btn {
    padding-top: 2rem;
    margin-bottom: 5rem;
    button {
      border: none;
      font-size: 2rem;
      color: #808080;
      background-color: #0f4e78;
      padding: 1.5rem;
      border-radius: 5rem;
      width: 10rem;
      font-size: 1.8rem;
      font-weight: 600;
    }
  }
  .post-input-feature-buttons {
    padding: 0.125rem;
  }

  .tweet-box {
    .input-container {
      padding-top: 0.25rem;
      padding-left: 2rem;
      display: flex;
      align-items: flex-start;
      height: 7rem;
      .profile-img {
        padding-top: 0.75rem;
        img {
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 50%;
        }
      }

      .post-input {
        padding: 0.5rem;
        width: 87%;
        textarea {
          width: 100%;
          padding-top: 0.9rem;
          padding-left: 0.6rem;
          border: none;
          color: #fff;
          background-color: #000;
          font-size: 1rem;
        }
      }
    }
    .input-data-container {
      display: flex;
      justify-content: space-between;
      .input-icons {
        display: flex;
        padding-left: 4.1rem;
        padding-top: 0.5rem;
        justify-content: space-around;
        width: 40%;
        .input-icon-items {
          fill: #1d9bf0;
          width: 1.25rem;
          .map {
            fill: #0f4e78;
          }
        }
      }

      .tweet-btn {
        align-self: flex-end;
        padding-top: 0;
        margin-right: 1rem;
        button {
          font-size: 0.9rem;
          background-color: #0f4e78;
          padding: 0.3rem;
          border-radius: 5rem;
          width: 4rem;
          font-weight: 400;
        }
      }
    }
  }

  #input-profile-image {
    margin-right: 0.75rem;
    padding-top: 0.75rem;
  }

  .profile-image {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
  }

  .profile {
    border-right: 0.1px solid #ffffff51;
    border-bottom: 0.1px solid #ffffff51;
    display: flex;
    .profile-info {
      display: flex;
    }
  }
  .content {
    width: 35.375rem;
    border-right: 0.1px solid #ffffff51;
  }

  .content-header {
    border-right: 0.1px solid #ffffff51;
    border-bottom: 0.1px solid #ffffff51;
    height: 3.313rem;
    display: flex;
    .settings-icon {
      img {
        width: 1.64rem;
        height: 1.64rem;
        align-self: center;
      }
    }
  }

  .post-icons {
    display: flex;
    justify-content: space-evenly;
    .post-icon {
      width: 1.5rem;
    }
  }
  .post-Profile-title {
    display: flex;
  }
  .post-header {
    display: flex;
  }
}

@media screen and (max-width: 414px) {
  html {
    font-size: 9px;
  }
  .profile-image {
    width: 35.5rem;
    padding-left: 2rem;
    padding-top: 2rem;
    img {
      height: 5rem;
      width: 5rem;
      border-radius: 8rem;
    }
  }
}
