body {
  margin: 10px;
  padding: 0;
}

.weather-forecast-heading {
  h1 {
    margin: 10px 0;
    font-size: 60px;
  }
}

.weather-forecast-subheading {
  h2 {
    margin: 0 5px;
    font-size: 20px;
    font-weight: 100;
  }
}

.weather-now-status-icon {
  display: grid;
  padding: 0 10px 0;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: 12.5px 12.5px 25px 25px 25px;
  img {
    width: 100px;
    grid-row: 1 / span 4;
  }
  .value {
    padding: 2px;
    grid-row-start: 2;
    text-align: center;
    grid-column-start: 3;
    font-size: 50px;
  }
  .farent {
    padding: 0 5px;
    grid-column-start: 4;
    grid-row-start: 3;
    font-size: 15px;
  }
}

.weather-now-readings {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  .weather-now-status-info {
    p {
      font-size: 20px;
      margin: 0 4px;
      strong {
        font-weight: 600;
      }
    }
  }
}

.weather-whole-week-forecast {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin: 10px;
  .weather-one-day-forecast {
    display: grid;
    grid-template-columns: repeat(5, 17px);
    grid-template-rows: repeat(6, 20px);
  }
  .day-name {
    grid-column: 2/-1;
    grid-row-start: 1;
  }
  .weather-status-icon {
    grid-column: 1/-1;
    grid-row-start: 2;
  }
  .weather-status-info {
    grid-column: 2/-1;
    grid-row-start: 5;
  }
}
